{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Job index{% endblock %}

{% block content %}
    <h1>Job index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>
                    <a href="{{ path('backend_job_show', {'id': job.id}) }}" class="btn btn-primary"> <i class="fas fa-eye"></i></a>
                    <a href="{{ path('backend_job_edit', {'id': job.id}) }}" class="btn btn-primary"> <i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backend_job_new') }}"><button class="btn btn-success" type="submit">Create New</button></a>
{% endblock %}